
img {
    width: 100%;
}

body {
    background-color: aqua;
}

@media only screen and (min-width: 600px) {
    #section_wrapper1{
        border: 2px solid red;
        background-color: mediumvioletred;
    }

    .container1 {
        border: 2px solid black;
        display: grid;
    }

    #section_wrapper2{
        background-color: blanchedalmond;
        border: 2px solid blue;
    }

    .container2 {
        border: 2px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
